<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- need to use / to directly access the public folder --}}
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>
    {{>nav this}}
    <h1>User Profile: </h1>
    <h3>Name: {{name}}</h3>
    <h3>Email: {{email}}</h3>

    <form action="/update" method="get">
        <button type="submit">Update Profile</button>
    </form>

    <h2>All My Posts: </h2>
    {{#each allBlocks}}
    <h3>{{this.title}}</h3>
    <p>{{this.body}}</p>
    {{/each}}

    <h2>Update Password: </h2>
    <form action="/updatepassword" method="post">

        <label for="currentPword">Current Password:</label><br>
        <input required type="password" name="currentPword" id="currentPword"><br><br>

        <label for="pword">New Password:</label><br>
        <input required type="password" name="pword" id="pword"><br><br>

        <label for="pwordConfirm">Confirm New Password:</label><br>
        <input required type="password" name="pwordConfirm" id="pwordConfirm"><br><br>
        <button type="submit">Update Password</button>
    </form>

    <h3>{{message}}</h3>
    <h2>Delete Your Account: </h2>
    <form action="/delete" method="post">
        <button type="submit">Delete Account</button>
    </form>
</body>

</html>